<div class="container">
  <%= form_for @vendor, url: '/login_vendor' do |f|%>
    <%= f.label :username %>
    <%= f.text_field :username %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>
    <%= f.submit 'Log In!' %>
  <% end %>
</div>
