<body>
  <h1>Ahoy!</h1>
  <p>
    There are new deals available from <%= @vendor.name %> that were just posted!<br>
  </p>
  <p>It looks like <%= @vendor.name %> has <%= @deal.item_quantity %> <%= @deal.title %> available to buy for $<%= @deal.item_price %>!</p>
  <p>
    To start chowing down, just follow this link: <%= @url %>.
  </p>
  <p>Thanks for using Full Bellies and have a great day!</p>
</body>