<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <%= form_for @vendor do |f|%>
        <%= f.label :username, 'Username:' %><br>
        <%= f.text_field :username %><br><br>
        <%= f.label :email, 'Email:' %><br>
        <%= f.text_field :email %><br><br>
        <%= f.label :name, 'Business Name:' %><br>
        <%= f.text_field :name %><br><br>
        <%= f.label :password, 'Password:' %><br>
        <%= f.password_field :password %><br><br>
        <%= f.label :password, 'Confirm Password' %>
        <%= f.password_field :password_confirmation %><br/>
        <%= f.label :address, 'Address:' %><br>
        <%= f.text_field :address %><br><br>
        <%= f.label :phone_number, 'Phone Number:' %>
        <%= f.text_field :phone_number %><br/><br/>
        <%= f.submit 'Sign Up!', class: 'btn btn-warning' %>
      <% end %>
    </div>
    <div id="signup-info" class="col-sm-4">
      <h3>What You Get:</h3>
      <ul>
        <li>An additional market outside of your current business to sell food.</li>
        <li>A strategey to begin monetizing the losses from your food costs.</li>
        <li>An easy way to help bring food to those who need it and those who want it.</li>
      </ul>
      <h3>What They Get:</h3>
      <ul>
        <li>Deeply discounted food from their favortie local shops.</li>
        <li>Notifications when you post that you are trying to sell something.</li>
        <li>A Full Belly.</li>
      </ul>
      <h3>What We Get:</h3>
      <p>The pleasure of helping connect people who need to eat, to food that would have otherwise been wasted.</p>
    </div>
  </div>
</div>
