<div id="banner" class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-center">
      <h1 id="banner-title">Full - Bellies</h1>
      <h3 id="banner-sub-title">Sign up. Eat.</h3>
      <h3 id="banner-sub-title">Save.</h3><br>
    </div>
  </div>
</div>

<div id="glyph-container" class="container">
  <div class="row">
    <div class="col-sm-4 text-center">
      <p id="marketing-glyph" class="glyphicon glyphicon-cutlery"></p>
      <h3>Feeding People</h3>
      <p>Putting good food in the bellies of the people who appreciate it. We offer a way to connect a portion of the 133bil pounds of <strong>good</strong> food being thrown out every year in the United States with people who need and want it.</p>
    </div>
    <div class="col-sm-4 text-center">
      <p id="marketing-glyph" class="glyphicon glyphicon-piggy-bank"></p>
      <h3>Saving Money</h3>
      <p>Helping businesses turn calculated losses into marginal profits. In offering an alternative market to connect to their customers, we're helping busineses turn a profit on a product which may have been accounted as a loss.</p>
    </div>
    <div class="col-sm-4 text-center">
      <p id="marketing-glyph" class="glyphicon glyphicon-comment"></p>
      <h3>Connecting People</h3>
      <p>Bringing together local vendors and the communities they serve. By shifting the responsibility for delivery to the user, we are connecting businesses which are in close proximity, thus driving deeper comunal bonds.</p>
    </div>
  </div>
</div>
<div class="container">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Pick a Restaurant or Local Grocery Store. <span class="text-muted">Purchase through the app.</span></h2>
      <p class="lead">Browse a list of your local vendors and purchase discount food! Find and follow your favorite businesses with ease. Get text and email notifications of your favorite deals.</p>
    </div>
    <div class="col-md-5">
      <%=image_tag("berrys.png", size: "380x250", class: "promo-image") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Fulfilling a Social Responsibility.
      <span class="text-muted">Ending Hunger Through Diligence.</span></h2>
      <p class="lead">Full-Bellies is a solution built to empower individuals and families to not let the world's most important resource, (food), go to waste. On average 31% of U.S. food supply goes uneaten. These losses hit communities where we need it the most. Full-Bellies attempts to make in-access to nourishment a concept of the past. </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%=image_tag("bistro.png", size: "380x250", class: "promo-image" ) %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">The Full-Bellies Team.</h2>
      <p class="lead">Full-Bellies was bourn out of the realization that the food industry in America is one in desperate need of reform. In a six day hack-a-thon style challenge at New York City's DevBootcamp campus, our team set the roots of this philanthropic web application. We are all passionate about tech, connecting people, and food. Drop us a line and <a href="#">say hi</a>. If you'd like to contribute to Full-Bellies, see the repository on <a href="#">GitHub</a>.</p>
    </div>
    <div class="col-md-5">
       <%=image_tag("texting.png", size: "380x250", class: "promo-image") %>
    </div>
  </div>

  <hr class="featurette-divider">

</div>

<!-- renders modal for login (user & vendor) -->
<%= render 'welcome/vendor_login', locals: {@user => @user, @vendor => @vendor}%>
<%= render 'welcome/user_login', locals: {@user => @user, @vendor => @vendor}%>
<!-- renders modal for vendor sign up -->
<%= render 'welcome/signup_vendor', locals: {@vendor => @vendor} %>
<%= render 'user/new_user', locals: {@user => @user, @vendor => @vendor}%>
