<div id="banner" class="container">
  <h1 id="banner-title">Full - Bellies</h1>
  <p class="lead">
    The most conveient way to connect local businesses with hungry people. Sign up, save, eat.
  </p><br>
  <div class="container">
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#vendorModal">I'm a Vendor</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userModal">I'm Hungary</button>
  </div>
</div>

<br><br><br>

<div id="glyph-container" class="container">
  <div class="row">
    <div class="col-sm-4 text-center">
      <p id="marketing-glyph" class="glyphicon glyphicon-grain"></p>
      <p>Feeding People</p>
    </div>
    <div class="col-sm-4 text-center">
      <p id="marketing-glyph" class="glyphicon glyphicon-piggy-bank"></p>
      <p>Saving Money</p>
    </div>
    <div class="col-sm-4 text-center">
      <p id="marketing-glyph" class="glyphicon glyphicon-comment"></p>
      <p>Connecting People</p>
    </div>
  </div>
</div>
<div class="container">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Pick a Restaurant or Local Grocery Store</h2>
      <p class="lead">Browse our list of Vendors! Or make it easy on yourself and pick the place that's closest to you.</p>
    </div>
    <div class="col-md-5">
      <%=link_to( image_tag("vegetable.png")) %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Order through the app. <span class="text-muted">It's quick and easy.</span></h2>
      <p class="lead">Take a good look at what our vendors have served up, click whatever you want to eat, and pay at the click of a button.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%=link_to( image_tag("iphone-photo.png")) %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Eat great food! <span class="text-muted">Stay in the loop.</span></h2>
      <p class="lead">Purchase discount food. Get instant text and email notifications backed by our secure system. All you have to do is enjoy the time spent <b><i>not</i></b> cooking.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2015 Full-Bellies, Inc. &middot; <a href="#">Terms</a> &middot; <a href="#">Contact</a></p>
  </footer>

</div>

<!-- renders modal for login (user & vendor) -->
<%= render 'welcome/vendor_login', locals: {@user => @user, @vendor => @vendor}%>
<%= render 'welcome/user_login', locals: {@user => @user, @vendor => @vendor}%>
<!-- renders modal for vendor sign up -->
<%= render 'welcome/signup_vendor', locals: {@vendor => @vendor} %>
<%= render 'user/new_user', locals: {@user => @user, @vendor => @vendor}%>
