<ul>
  <li>
    <%= link_to deal.title, deal %>
    <%= link_to deal.vendor.name, deal.vendor %>
    <%= deal.item_price %>
    <%= deal.item_quantity %><br/>
    <span> time until expiration: <%= distance_of_time_in_words(Time.now.utc,deal.end_time) %>
    </span>
  </li>
  <p><span class="follower-count"><%= deal.vendor.favorite_vendors.count %></span> Followers </p>
  <% if session[:user_id] %>
    <%= link_to "Follow Vendor", follow_path(session[:user_id], vendor_id: "#{deal.vendor.id}"), class: "follow-button", method: :put %>
    <%= link_to "Unfollow", unfollow_path(session[:user_id], vendor_id: "#{deal.vendor.id}"), class: "unfollow-button", method: :delete %>
  <% end %>
  <hr>
</ul>

