<div class="" >
  <h3>Edit Deal</h3>
  <%= form_for @deal do |f| %>
    <%= f.label :title %><br/>
    <%= f.text_field :title, class: ("form-control") %><br/>
    <%= f.label :description %><br/>
    <%= f.text_area :description, cols:50, rows: 10, class: ("form-control")  %><br/>
    <%= f.label :item_quantity, size: 6 %><br/>
    <%= f.number_field :item_quantity, class: ("form-control") %><br/>
    <%= f.label :item_price %><br/>
    <%= f.number_field :item_price, size: 6, step: 0.01, class: ("form-control")  %><br/>
    <%= f.label :end_time %><br/>
    <div class="form-control">
    <span>Date: <%= f.date_select :end_time, class: ("form-control")  %></span>
    <span>Time:<%= f.time_select :end_time, ignore_date: true, :ampm => true,class: ("form-control")  %></span>
    </div>
    <br/><br/>
    <%= f.submit 'Update', class: "btn btn-primary" %>
  <% end %>
</div>