<h2><%= @deal.title %></h2> <br/>
<p><%= @deal.description%></p><br/>
<p>quantity: <%=@deal.item_quantity%></p><br/>
<p>price per item: <%= @deal.item_price %></p><br/>
<%= link_to 'Purchase', new_deal_purchased_item_path(@deal.id) %>


<% if current_vendors_deal?(@deal) %>
  <%= link_to 'edit', edit_deal_path(@deal.id) %>
  <%= link_to 'delete', deal_path(@deal.id), method: 'DELETE' %>
<% end %>