<div class="container">
  <h2><%= @deal.title %></h2> <br/>
  <p><%= @deal.description%></p><br/>
  <p>quantity: <%=@deal.item_quantity%></p><br/>
  <p>price per item: <span id='dealprice'><%= @deal.item_price %></span></p><br/>
  <span> time until expiration: <%= distance_of_time_in_words(Time.now.utc,@deal.end_time) %> </span><br/>
  <%= link_to 'Purchase', new_deal_purchased_item_path(@deal.id), class: 'purchase-button'%>
  <div id="purchase-form-area">
  </div>

  <% if current_vendors_deal?(@deal) %>
    <%= link_to 'edit', edit_deal_path(@deal.id) %>
    <%= link_to 'delete', deal_path(@deal.id), method: 'DELETE' %>
  <% end %>
  <div id="panel">
    <input type="hidden" id="address" type="textbox" value="<%= @deal.vendor.address %>">
  </div>
  <div id="map-canvas"></div>
</div>
<!-- renders modal for login (user & vendor) -->
<%= render 'welcome/vendor_login', locals: {@user => @user, @vendor => @vendor}%>
<%= render 'welcome/user_login', locals: {@user => @user, @vendor => @vendor}%>
<!-- renders modal for vendor sign up -->
<%= render 'welcome/signup_vendor', locals: {@vendor => @vendor} %>
<%= render 'user/new_user', locals: {@user => @user, @vendor => @vendor}%>
