<div id="deal-container" class="container">
  <div class="row">

    <div class="col-md-5">
      <h1 id="deal-welcome-user">One more click for food yummy food...</h1>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-5 text-center">
      <div id="deal-vendor-info" class="container">
      <% if @deal.vendor.avatar.exists? %>
        <%= link_to image_tag(@deal.vendor.avatar.url(:thumb), class: "img-circle", id: "dealvendorimage"), @deal.vendor, class: "img-circle col-md-2" %>
      <% else %>
        <%= link_to image_tag('profile.png', size:'100x100'), @deal.vendor, class: 'img-circle' %>
      <% end %>
        <h3><%= link_to @deal.vendor.name, @deal.vendor %></h3>
        <h5>Phone: <%= @deal.vendor.phone_number %></h5>
        <h5>Address: <%= @deal.vendor.address %></h5>
      </div>
    </div>

    <div id="deal-info" class="col-md-5 text-center">
      <h2><%= @deal.title %></h2>
      <p><%= @deal.description%></p>
      <p>Quantity: <%= @deal.item_quantity %> | Cost Per Item: $<span id="dealprice"><%= @deal.item_price %></span>0</p>
      <p>Time Until Expiration: <%= distance_of_time_in_words(Time.now.utc,@deal.end_time) %></p>
      <% if current_user %>
        <%= link_to 'Purchase', new_deal_purchased_item_path(@deal.id), class: 'btn-sm btn-lg btn-primary purchase-button'%>
      <% end %>
      <div id="purchase-form-area">
      </div>
      <% if current_vendors_deal?(@deal) %>
        <%= link_to 'edit', edit_deal_path(@deal.id), class: 'btn-sm btn-lg btn-primary' %>
        <%= link_to 'delete', deal_path(@deal.id), method: 'DELETE', class: 'btn-sm btn-lg btn-danger', data: {confirm: "Are you sure you want to delete this deal?"} %>
      <% end %>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-5">
      <div id="deal-map" class="container">
        <div id="panel" class="google-map">
          <input type="hidden" id="address" type="textbox" value="<%= @deal.vendor.address %>">
        </div>
        <div id="map-canvas" style="height: 250px;"></div>
      </div>
    </div>


  </div>
</div>



<!-- renders modal for login (user & vendor) -->
<%= render 'welcome/vendor_login', locals: {@user => @user, @vendor => @vendor}%>
<%= render 'welcome/user_login', locals: {@user => @user, @vendor => @vendor}%>
<!-- renders modal for vendor sign up -->
<%= render 'welcome/signup_vendor', locals: {@vendor => @vendor} %>
<%= render 'user/new_user', locals: {@user => @user, @vendor => @vendor}%>
