<div class="container">
  <div id="profile-top-bar" class="row">

    <div class="col-md-4">
      <h1 id="welcome-user">Hello!</h1>
    </div>

    <div class="col-md-4">
      <ul><h3>Current Deals:</h3></ul>
      <% @current_deals.each do |deal| %>
        <ul>
          <h3><%= link_to deal.title, deal_path(deal) %></h3>
        </ul>
      <% end %>
    </div>

    <div class="col-md-4 text-center">

      <%= render partial: 'vendors/profile_pic', locals: {vendor: @vendor} %>

      <hr>
      <h3>Username: <%= @vendor.name %></h3>
      <h4>Phone: <%= @vendor.phone_number %></h4>
      <h4>Email: <%= @vendor.email %></h4>
      <h4>Followers: <span class="badge"><%= @vendor.favorite_vendors.count %></span></h4>
      <% if current_vendor %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vendorEdit">Edit Profile</button>
        <%= render partial: 'vendors/edit_vendor' %>
      <% end %>
    </div>
  </div>
</div>
<% if current_vendors_page?(@vendor) %>
  <%=render partial: '/vendors/vendor', locals: {vendor: @vendor, current_deals: @current_deals, last_five: @last_five, deal: @deal} %>
<% else %>
  <%=render partial: '/vendors/user', locals: {vendor: @vendor, current_deals: @current_deals} %>
<% end %>

