<h1>user edit page</h1>
<%= form_for @user, method: "put" do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br/>
  <%= f.label :email %>
  <%= f.text_field :email %><br/>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, value: @user.phone_number %><br/>
  <%= f.label :password %>
  <%= f.password_field :password %> <br><br>
  <%= f.submit %>
<% end %>