<div class="container">
  <div id="profile-top-bar" class="row">

    <div class="col-md-4">
      <h1 id="welcome-user">Hello!</h1>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-4 text-center">
      <%= render partial: 'user/profile_pic', locals: {user: @user} %>
      <br>
      <hr>
      <h3>Username: <%= @user.username %></h3>
      <h4>Phone: <%= @user.phone_number %></h4>
      <h4>Email: <%= @user.email %></h4>
      <h4>Following: <span class="badge"><%= @user.favorites.count %></span></h4>
      <% if current_user %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userEdit">Edit Profile</button>
        <%= render partial: 'user/edit_user' %>
      <% end %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <h3>Purchased Deals:</h3>
      <hr>
      <% if session[:user_id] == @user.id %>
        <% @user.purchased_items.each do |item| %>
          <span> <h4><%= link_to item.title, deal_path(item.deal_id) %> - your cost: $<%= item.price %>0<h4></span>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h3>Followed Vendors:</h3>
      <hr>
      <% if session[:user_id] == @user.id %>
        <% @user.favorites.each do |vendor| %>
          <span> <h4><%= link_to vendor.name, vendor_path(vendor.id) %> - contact: <%= vendor.email %><h4></span>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
