<!DOCTYPE html>
<html>
<head>
  <title>FullBellies</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="nav-top" class="collapse navbar-collapse">
    <a href="/" class="navbar-brand">FullBellies</a>
    <% if session[:user_id] || session[:vendor_id] %>
      <ul id="nav-top" class="nav navbar-nav">
        <li><%= link_to 'Logout', logout_path, method: 'delete' %></li>
      </ul>
      <% if session[:vendor_id] %>
        <ul id="nav-top" class="nav navbar-nav navbar-right">
        	<li><%= link_to 'Vendor Profile', vendor_path(session[:vendor_id]) %></li>
        </ul>
      <% else %>
        <ul id="nav-top" class="nav navbar-nav navbar-right">
        	<li><%= link_to 'Profile Page', user_path(session[:user_id]) %></li>
        </ul>
      <% end %>
    <% else %>
      <ul id="nav-top" class="nav navbar-nav">
        <li><%= link_to 'Login', login_path %></li>
        <li data-toggle="modal" data-target="#vendorSignup"> <a href="#">Are you a business?</a></li>
        <li><%= link_to 'Signup', new_user_path %><li>
      </ul>
    <% end %>
    <ul id="nav-top" class="nav navbar-nav">
      <li><%= link_to 'Deals', deals_path %></li>
      <li><%= link_to 'Mission', about_path %></li>
    </ul>
  </nav>
<%= yield %>
</body>
</html>
