<!DOCTYPE html>
<html>
<head>
  <title>FullBellies</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> fade in">
      <button class="close" data-dismiss="alert">×</button>
      <%= message %>
    </div>
  <% end %>
  <%= render partial: 'layouts/nav' %>
  <%= yield %>
  <div class="container">
    <footer><hr>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2015 Full-Bellies, Inc. &middot; <a href="#">Terms</a> &middot; <a href="#">Contact</a></p>
    </footer><hr>
  </div>
</body>
</html>
